<div class="form-group">

  <!-- Text input -->
  <label class="col-sm-4 control-label" for="textInput">Text Input</label>
  <div class="col-sm-7">
    <input id="textInput" name="textInput" type="text" placeholder="placeholder" class="form-control">
  <br>
  </div>
</div>










<div class="form-group">

  <!-- Textarea -->
  <label class="col-sm-4 control-label" for="textarea">Text Area</label>
  <div class="col-sm-7">
    <div class="input-group">
      <textarea id="textarea" name="textarea" class="form-control">Default text</textarea>
    </div>
 <br>
  </div>
</div>


<div class="form-group">

  <!-- Rating -->
  <label class="col-sm-4 control-label" for="textarea">Rating</label>
  <div class="col-sm-7">
    <div class="input-group">
   <input id="input-21b" value="4" type="number" class="rating" min=0 max=5 step=0.2 data-size="lg">
    </div>
 <br>
  </div>
</div>
<script>
    $(function () {
       $("#input-rating").rating();
    });
</script>


    